header{
    background-color: #4d4d4d;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 100px;
}

h1{
    margin: 0px;
    padding-top: 10px;
}

h3{
    margin-top: 2px;
}

#foto{
    position: absolute;
    width: 180px;
    height: 180px;
    top: 97px;
    left: 50%;
    margin-left: -90px;
    z-index: 1;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 20%);
}

#logo{
    text-align: center;
    opacity: 0.8;
}

#text{
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    background-color: white;
    margin-left: 400px;
    margin-right: 400px;
    box-shadow: 3px 3px 15px 5px #4d4d4d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#exp,#skills,#contacto{
    text-align: center;
    color: #4d4d4d;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
}

#columna{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#columna > div{
    width: 50%;
    text-align: center;
}

#texto1,#texto2,#texto3,#texto4,#lista{
    margin-left: 200px;
    margin-right: 200px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 3px 3px 15px 5px #4d4d4d;
}

#titulo1,#titulo2,#titulo3,#titulo4,#titulo5{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 3px 3px 15px 5px #4d4d4d;
    margin-left: 200px;
    margin-right: 200px;
}

#titulo5,#lista{
    float: right;
    margin-right: 30px;
    margin-left: 0px;
    margin-bottom: 0px;
    
}

#lista{
    font-size: 13px;
}


#skills1{
    text-align: center;
}


#idioma,#aptitudes,#otras{
    background-color: #4d4d4d;
    color: white;
    padding: 32px 16px;
    margin-inline: 10px;
    transition-duration: 0s;
}

#idioma:hover,#aptitudes:hover,#otras:hover{
    border-color: #4d4d4d;
    background-color: white;
    color: black;
}
